.navbar-brand{
    font-size: 1.2rem;
}
.navIcons-desktop{
    display: none;
}
@media (min-width: 500px) {
    .navbar-brand{
        font-size: 1.4rem;
        margin-left: 18px;
    }
}
@media (min-width: 992px) {
    .navIcons-desktop{
        display: initial !important;
        display: flex !important;
        align-items: center !important;
        gap: 0.5rem !important;
        margin: 0rem 1.8rem 0rem 0.9rem !important;
    }
    
}